/* Form */
.form-section {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.form-section:last-of-type {
  margin-bottom: 0;
}

.form-wrapper,
.form-section {
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.form-outline {
  flex-grow: 1;
  position: relative;
  padding: 1rem 0 0;
}

.form-control {
  font-family: var(--font-text);
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--primary-bg-color);
  outline: 0;
  font-size: 1rem;
  color: var(--main-color);
  padding: 0.5rem;
  background: var(--main-bg-color);
  transition: border-color 0.3s;
}

.form-control::placeholder {
  color: transparent;
}

.form-control:placeholder-shown ~ .form-label {
  font-size: 1rem;
  cursor: text;
  top: 1.5rem;
  left: 0.5rem;
  color: var(--secondary-color);
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.3s;
  font-size: 0.75rem;
  color: var(--secondary-color);
}

.form-control:placeholder-shown {
  border: 0;
  border-bottom: 2px solid var(--secondary-bg-color);
}

.form-control:focus,
.form-control:focus:placeholder-shown {
  border-width: 3px;
  border-image: linear-gradient(
    to right,
    var(--primary-bg-color),
    var(--accent-color)
  );
  border-image-slice: 1;
}

/* Components */
.button-group {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
}

.button-group .btn {
  margin-left: 0;
}

.btn {
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
  font-family: var(--font-title);
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.btn-primary {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  box-shadow: 0 2px 6px rgba(41, 98, 255, 0.2);
}

.btn-primary:hover {
  box-shadow: 0 4px 12px rgba(0, 57, 203, 0.25);
  transform: translateY(-1px);
}

.btn-primary:active {
  box-shadow: 0 2px 6px rgba(0, 57, 203, 0.2);
  transform: translateY(0);
}

.btn-secondary {
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
  font-weight: 700;
  box-shadow: none;
}

.btn-secondary:hover {
  box-shadow: 0 2px 6px rgba(41, 98, 255, 0.1);
  transform: translateY(-1px);
}

.btn-secondary:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Display Data layout */
.display-data {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.display-data-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* CV Preview Layout */
.cv {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.cv-header {
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
  padding: 1.5rem 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.cv-body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
}

.cv-header .cv-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cv-header .cv-contact .text {
  margin-right: 2rem;
}

.cv-header .cv-contact .text:last-of-type {
  margin-right: 0;
}

.cv-education .content,
.cv-experience .content {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 3rem;
  gap: 2rem;
}

/* CV Preview Typography */
.cv-header .title {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

.cv-body .sub-title {
  background-color: var(--main-bg-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cv-body .text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
