/* Form */
.form-section {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.form-section:last-of-type {
  margin-bottom: 0;
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.form-outline {
  flex-grow: 1;
}

.form-control {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--primary-bg-color);
  outline: 0;
  font-size: 1rem;
  color: var(--main-color);
  padding: 0.5rem;
  background: var(--main-bg-color);
}
