/* Form */
.form-section {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.form-section:last-of-type {
  margin-bottom: 0;
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.form-outline {
  flex-grow: 1;
}

.form-control {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--primary-bg-color);
  outline: 0;
  font-size: 1rem;
  color: var(--main-color);
  padding: 0.5rem;
  background: var(--main-bg-color);
}

/* CV Preview Layout */
.cv {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.cv-header {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  padding: 1.5rem 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.cv-body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
}

.cv-header .cv-contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.cv-education .content,
.cv-experience .content {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 3rem;
  gap: 2rem;
}

/* CV Preview Typography */
.cv-header .title {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}

.cv-body .sub-title {
  background-color: var(--main-bg-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cv-body .text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
